<body class = "bg-dark">
  <div class="p-3 text-white text-center d-flex justify-content-center">
    <p class="lead">
      Muhammad Sultan<br>
      <fa-icon class="p-3" [icon]="faEnvelope" size="3x" (click)="emailToClipboard()" style="cursor:pointer"></fa-icon>
      <a href = "github.com/msultan96">
        <fa-icon class="p-3" [icon]="faGithub" size="3x"></fa-icon>
      </a>
      <a href = "linkedin.com/in/msultan96">
        <fa-icon class="p-3" [icon]="faLinkedinIn" size="3x"></fa-icon>
      </a>
    </p>
  </div>
</body>
