<div class="shadow p-3 mb-5 rounded jumbotron min-vh-100">
  
  <h1 class="display-4">
    Hello, world!
  </h1>
  <p class = "lead">
    Here you can see an overview of my projects.
    <br>
    Provided for you is the Github repository link and a live preview if available.
  </p>
  
  <hr class="my-4">
  
  <div class = "media">
    <div class = "media-body">
      <h1 class="display-4">Project 1</h1>
      <p class = "lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Sed nisi lacus sed viverra tellus in hac habitasse platea.
        Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus.
        Arcu dictum varius duis at consectetur lorem donec.
        Tortor id aliquet lectus proin nibh.
      </p>
    </div>
    <div class="align-self-center">
      <a href="github.com/msultan96">
        <fa-icon class="media-right pr-3" [icon]="faGithub" size="5x"></fa-icon>
      </a>
      <a href="google.com">
        <fa-icon class="media-right" [icon]="faEye" size="5x" ></fa-icon>
      </a>
    </div>
    
  </div>
  
  <hr class="my-4">
  
  <div class="media">
    <div class="media-body">
      <h1 class="display-4">Project 2</h1>
      <p class = "lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Eget est lorem ipsum dolor sit amet consectetur.
        Pellentesque habitant morbi tristique senectus et netus.
        Amet cursus sit amet dictum. Id volutpat lacus laoreet non curabitur gravida arcu ac.
      </p>
    </div>
  
    <div class="align-self-center">
      <fa-icon class="media-right pr-3" [icon]="faGithubSquare" size="5x"></fa-icon>
      <fa-icon class="media-right" [icon]="faEyeSlash" size="5x"></fa-icon>
    </div>
  </div>
  
  <hr class="my-4">
  
  <div class="media">
    <div class="media-body">
      <h1 class="display-4">Project 3</h1>
      <p class = "lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lectus arcu bibendum at varius vel.
        Dignissim convallis aenean et tortor.
        Imperdiet nulla malesuada pellentesque elit.
        Non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus.
      </p>
    </div>
    
    <div class="align-self-center">
      <fa-icon class="media-right pr-3" [icon]="faGithubSquare" size="5x"></fa-icon>
      <fa-icon class="media-right" [icon]="faEyeSlash" size="5x" style="opacity:0.5"></fa-icon>
    </div>
  </div>
  
  <hr>
  
  <div class="media">
    <div class="media-body">
      <h1 class="display-4">Project 4</h1>
      <p class = "lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Facilisis mauris sit amet massa vitae tortor condimentum.
        Et malesuada fames ac turpis egestas maecenas pharetra.
        Tristique senectus et netus et malesuada fames.
        Porttitor leo a diam sollicitudin tempor id eu.
      </p>
    </div>
  
    <div class="align-self-center">
      <fa-icon class="media-right pr-3" [icon]="faGithubSquare" size="5x"></fa-icon>
      <fa-icon class="media-right" [icon]="faEyeSlash" size="5x" style="opacity:0.5"></fa-icon>
    </div>
  </div>
  
</div>
